@{
    Layout = "~/Views/Shared/_cmstLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Insert_User</title>
</head>
<body>
    <a href="~/Child/Logout">Logout</a>
    <p>@Session["phone"]</p>
    <h2>@Session["username"]</h2>
    <div>
        
    </div>
</body>
</html>
