
@{
    ViewBag.Title = "Response_Request";
}
@{
    Layout = "~/Views/Shared/_cmstLayout.cshtml";
    }
<link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Content/bootstrap.js"></script>
    <script src="~/Content/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-1.7.1.js"></script>
    <script src="~/Scripts/jquery-1.7.1.min.js"></script>
<script>
    $(document).ready(function () {
        $("#b1").on("click", function () {
            var val = $("#prices1").val();
            var val1 = $("#prices2").val();
            if (val != val1) {
                $("#p1").text("Please enter same prices");
                return false;
            }
            else {
                return true;
            }
        });
    });
</script>
<style>
    #p1 {
        color:red;
    }
</style>
<div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4" style="margin-top:5%">
        <div class="offset6 span6 well">
            <form action="~/TourHome/Response_Request" method="post">
                <input type="text" placeholder="enter required conveyance name" name="conveyance" style="width:100%" required><br /><br />
                <input type="text" placeholder="Enter Total Ticket Prices" id="prices1" name="total_prices" style="width:100%" required/><br /><br />
                <input type="text" placeholder="Verify Total Ticket prices again" id="prices2" style="width:100%" data-toggle="tooltip" title="enter same price as above to save your time" required/><p id="p1"></p><br /><br />
                <textarea placeholder="Give a brief overview of your service and meeting plan" name="description" cols="20" rows="5" style="width:100%;" required></textarea><br /><br />
                <input type="submit" class="btn btn-danger" data-toggle="tooltip" title="Send Reponse to requests you recieved" value="Send Response" id="b1" />
            </form>
        </div>
    </div>
    <div class="col-sm-4"></div>
</div>